# MONGO_URI=mongodb+srv://chameriAdmin:Chameri@564738@chameri-cluster.x1egskv.mongodb.net/?appName=chameri-cluster
# CLOUDINARY_CLOUD_NAME=dc2047wzr
# CLOUDINARY_API_KEY=346225698879864
# CLOUDINARY_API_SECRET=PO4RFr93q74ZLTBTPLC7zNEACMg
# JWT_SECRET=
